<h1> Admin Panel </h1>

<table>
  <% 
    @players.each do |player|
      if @is_player && player.id == @player.id
        next
      end
    %>
    <tr>
      <td><%= player.name %></td>
      <td>
        <%= form_with url: "/player", method: :delete do |form| %>
          <input type="hidden" name="player_id" value="<%= player.id %>">
          <%= form.submit "Delete" %>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% @player_requests.each do |pr| %>
    <tr>
      <td><%= pr.name %></td>
      <td>
        <%= form_with url: "/player_request", method: :post do |form| %>
          <input type="hidden" name="player_request_id" value="<%= pr.id %>">
          <%= form.submit "Approve" %>
        <% end %>
      </td>
      <td>
        <%= form_with url: "/player_request", method: :delete do |form| %>
          <input type="hidden" name="player_request_id" value="<%= pr.id %>">
          <%= form.submit "Deny" %>
        <% end %>
      </td>
    </tr>
  <% end %>

  <%= form_with url: "/games/#{@game.id}", method: :patch do |form| %>
    <%= form.submit "Start Game" %>
  <% end %>
</table>
