<div class="hud">
  <div class="currency">$<%= @game.pot %></div>
  <div class="round-info">Blind: Small</div>
</div>

<div class="player-hand flex hidden">
  <% if @game.community_cards 
       @game.community_cards.split(",").each do |card| %>
       <%= image_tag card_src(card)  %>
       <% end end %>
</div>

<% if @is_active_player && @player.bet != nil %>
  <%= form_with url: "/games/#{@game.id}", method: :patch do |form| %>
    <%= form.number_field :raise, in:@min_raise..@player.chips,
      step:1, value:@min_raise %>
    <%= form.hidden_field :game_id, value: @game.id %>
    <%= form.submit "Raise" %>
    <%= form.submit "Fold" %>
  <% end %>
<% end %>

<% @players.each do |player| %>
  <div>
    <p>
    <%= if player.id == @game.dealer; "[DEALER]"; end %>
      <%= if player.fold != 0; "[FOLD]"; end %>
        <b> ★ <%= player.name %> </b> <br>
        CHIPS: <%= player.chips %> <br>
        BET: <%= player.bet %></p>
    <% if player.hole_cards
         player.hole_cards.split(",") do |card| %>
         <%= 
           if player.auth_token == cookies[:player_auth_token]
             image_tag card_src(card)
           else
             image_tag(back)
           end 
         %>
     <%   end
    end %>
  </div>
<% end %>
